#plant-modal {
    visibility: hidden;
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: 999;
    transition: all .1s;

    &.visible {
        visibility: visible;
        opacity: 1;
        transform: scale(1);

        .modal-content {
            transform: scale(1);
        }
    }

    .modal-backdrop {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, .3);
        backdrop-filter: blur(2px);
    }

    .modal-content {
        position: relative;
        background-color: var(--card-background);
        border-radius: 3rem;
        width: fit-content;
        padding-bottom: 2em;
        transform: scale(0.8);
        transition: all .15s;
        height: fit-content;
        margin: auto;

        .plant-pic-container {
            position: relative;
            border-top-left-radius: inherit;
            border-top-right-radius: inherit;
        }

        .plant-pic {
            border-radius: inherit;
            width: 26.5em;
            height: auto;

            &-overlay {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                position: absolute;
                bottom: 0;
                width: 100%;
                padding: 1.5rem;
                background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7))
            }
        }

        .plant-info {
            padding: 2em;
        }

        .plant-actions {
            padding: 0 2em;
        }

        label {
            display: block;
        }

        input {
            border: 1px solid var(--accent-color);
            border-radius: 5px;
            background-color: white;
            width: max-content;
        }

        .interval-input {
            width: 2.6rem;
        }

        button {
            background-color: var(--accent-color);
            border-radius: 3rem;
            margin-right: .75em;
        }

        button:last-child {
            float: right;
        }
    }

    @media (max-width: 600px) {
        .modal-content {
            width: 90%;

            .plant-info {
                padding: 1em;
            }

            .plant-actions {
                padding: 0 1em;
            }
        }
    }

}