#plant-modal {
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: 999;
    transition: all .1s;

    &.visible {
        visibility: visible;
        opacity: 1;
        transform: scale(1);

        .modal-content {
            transform: scale(1);
        }
    }

    .modal-backdrop {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, .3);
        backdrop-filter: blur(2px);
    }

    .modal-content {
        position: relative;
        background-color: var(--card-background);
        border-radius: 4rem;
        width: 35em;
        margin: 5rem auto;
        padding-bottom: 2em;
        transform: scale(0.8);
        transition: all .15s;

        .plant-pic {
            border-radius: inherit;
            width: 100%;
        }

        .plant-info {
            padding: 2em;
        }

        .plant-actions {
            padding: 0 2em;
        }

        button {
            background-color: #97c83e;
            border-radius: 3rem;
            margin-right: .75em;
        }
    }
}