:root {
    --white: #fff;
    --background-color: #262626;
    --card-background: #3c3c3c;
    --menu-background: #5c5c5c;
    --accent-color: #97c83e;
    --calendar-secondary: #888888;
    --button-text: var(--white);
    --navlink-color: var(--white);
    --text-color: var(--white);
    --plant-indicator: var(--dark-translucent-strong);
    --modal-backdrop: var(--dark-translucent-light);

    --navigation-height: 3em;

    --box-shadow-light: var(--dark-translucent-light) 0px 3px 8px;
    --box-shadow-medium: var(--dark-translucent-medium) 0px 5px 15px;
    --box-shadow-strong: var(--dark-translucent-medium) 0px 5px 15px;

    --dark-translucent-light: rgba(0, 0, 0, .3);
    --dark-translucent-medium: rgba(0, 0, 0, .5);
    --dark-translucent-strong: rgba(0, 0, 0, .75);

    --font-stack:
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        'Roboto',
        'Oxygen',
        'Ubuntu',
        'Cantarell',
        'Fira Sans',
        'Droid Sans',
        'Helvetica Neue',
        sans-serif;
}