:root {
    --white: #fff;
    --background-color: #262626;
    --card-background: #3c3c3c;
    --accent-color: #97c83e;
    --calendar-secondary: #888888;
    --button-text: var(--white);
    --navlink-color: var(--white);
    --text-color: var(--white);
    --modal-backdrop: rgba(0, 0, 0, .3);
    --dark-overlay: rgba(0, 0, 0, .1);

    --navigation-height: 3em;

    --font-stack:
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        'Roboto',
        'Oxygen',
        'Ubuntu',
        'Cantarell',
        'Fira Sans',
        'Droid Sans',
        'Helvetica Neue',
        sans-serif;
}