@charset "utf-8";
@import "_variables.scss";

* {
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html,
body,
#root {
    height: auto;
    width: 100%;
}

:root {
    font-size: 100%;
    line-height: 1.5;
    background: var(--background-color);
    font-family: var(--font-stack);
    color: var(--text-color);
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: inherit;
    overflow-y: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
    background: none;
    border: none;
}

button {
    color: var(--button-text);
    cursor: pointer;

    &:hover {
        filter: brightness(.9);
    }
}

#root,
#__next {
    isolation: isolate;
}