#navigation {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 999;
    background: var(--background-color);
    height: var(--navigation-height);

    >a {
        color: var(--navlink-color);
        text-decoration: none;
        text-align: center;
        flex: 1;
        padding: .5em;
        border-bottom: 2px solid var(--navlink-color);

        &:visited {
            color: var(--navlink-color);
        }

        &.active {
            border-bottom: 2px solid var(--accent-color);
        }
    }
}

// If screen is smaller than 50rem, move navigation bar to bottom and adjust views accordingly
@media (max-width: 50rem) {
    body {
        padding-bottom: var(--navigation-height);
    }

    #navigation {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        top: unset;

        >a {
            border-bottom: unset;
            border-top: 2px solid var(--navlink-color);

            &.active {
                border-bottom: unset;
                border-top: 2px solid var(--accent-color);
            }
        }
    }

    #schedule {
        padding-bottom: 5rem;

        .action-popup .action-content {
            margin-top: calc(-4rem - var(--navigation-height))
        }
    }
}