
.tab-container {
    width: 100%;
    display: flex;
    box-shadow: var(--box-shadow-light);

    .tab {
        flex: 1;
        padding: .5em;
    }

    .tab.active {
        border-bottom: 1px solid var(--accent-color);
    }
}

.plant-info,
.activity-panel {
    display: none;
}

.plant-info.active {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: .75rem;
    padding: 1rem;

    .add-button {
        margin-right: .5rem;
        padding: 0 .3em;
    }

    .info-title { font-weight: 600 }
    .info-value { float: right }

    label {
        display: block;
    }

    input {
        border: 1px solid var(--accent-color);
        border-radius: 5px;
        background-color: white;
        width: 9rem;
    }
    
    input::-webkit-calendar-picker-indicator {
        display: none !important;
    }
 
    .interval-input { width: 2.6rem }
    
    .checkbox-container {
        position: relative;

        // Hide default checkbox
        .checkbox {
            position: absolute;
            opacity: 0;
            width: 0;
            height: 0;
        }
        
        // Style custom checkbox
        .custom-checkbox {
            position: absolute;
            top: 0;
            right: 0;
            width: 1.75rem;
            height: 1.75rem;
            background-color: var(--white);
            border: 1px solid var(--accent-color);
            border-radius: 5px;
        }
        
        // Style custom checkmark
        .custom-checkbox:after {
            content: "";
            display: block;
            position: absolute;
            top: 4px;
            right: 8px;
            opacity: 0;
            width: 9px;
            height: 15px;
            transition: all .1s;
            border: solid var(--accent-color);
            border-width: 0 3px 3px 0;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
        }
        
        .checkbox:checked ~ .custom-checkbox:after {
            opacity: 1;
        }
    }

    .add-button,
    .confirm-button {
        background-color: var(--accent-color);
        border-radius: 3rem;
    }

    .add-button { margin-right: .75em }
    .confirm-button {
        margin: auto;
        padding: .2rem 1rem;
    }
}

.activity-panel.active {
    display: flex;
    overflow: scroll;

    .action-list {
        width: 100%;
        padding: .25rem 1rem;
        list-style: none;
    }

    .action-item {
        display: flex;
        padding: .75rem 0;
        line-height: 2.5rem;

        .action-icon {
            width: 2.5rem;
            height: 2.5rem;
            margin-right: 0.5rem;
        }

        .action-name {
            flex: 1;
            text-transform: capitalize;
        }

        .delete-button {
            width: 2.5rem;
            height: 2.5rem;
        }
    }
}
