.plant-grid {
    height: 100%;
    display: flex;
    flex-flow: row wrap;

    .location {
        width: 100%;
        margin: .5rem;
        padding: .2rem;
        border-bottom: 1px solid var(--white);
    }

    &.select-mode .plant-card {
        svg {
            display: block;
            visibility: visible;
            opacity: 1;
        }
    }

    .plant-card {
        position: relative;
        flex: 0 1 calc(20% - 1em);
        border-radius: .3rem;
        margin: .5em;
        padding: 0;
        cursor: pointer;

        >img {
            border-radius: inherit;
            height: auto;
        }

        &.selected {
            filter: brightness(90%);
            box-shadow: none;
            outline: 2px solid var(--accent-color);

            svg {
                background: var(--accent-color);
            }
        }

        svg {
            visibility: hidden;
            opacity: 0;
            transition: all .1s;
            border-radius: 50%;
            position: absolute;
            padding: .2em;
            left: .5rem;
            top: .5rem;
        }

        span {
            position: absolute;
            word-break: break-word;
            background: rgba(0, 0, 0, 0.75);
            border-radius: 1rem;
            margin: .5em;
            padding: 0 .2em;
            right: 0;

            &:last-child {
                bottom: 0;
            }

        }
    }
}

@media (max-width: 600px) {
    .plant-grid .plant-card {
        flex: 0 1 calc(33% - 1rem);
        font-size: small;
    }
}

@media (max-width: 410px) {
    .plant-grid .plant-card {
        flex: 0 1 calc(50% - 1rem)
    }
}