#schedule {
    height: 100%;
    max-width: 40em;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin: 0 auto;
    padding-bottom: 6.5rem;

    .card-header {
        display: flex;
        align-items: center;
        margin: 0 .5rem;

        .select-button {
            border: 1px solid var(--accent-color);
            border-radius: .5rem;
            padding: .2rem 1rem;
            margin-right: 1rem;
        }

        .water-button {
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;

            &.watering {
                background-color: var(--accent-color);
            }

        }

        .title {
            flex: 1;
        }
    }

    .schedule-card {
        background: var(--card-background);
        margin: 1em 0;
        padding: 1em;
        border-radius: .5em;
    }

    .action-popup {
        visibility: hidden;
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        height: 0;
        opacity: 0;
        z-index: 999;
        transform: translateY(100px);
        transition: all .2s;

        .action-content {
            display: flex;
            flex-flow: wrap;
            max-width: max-content;
            justify-content: center;
            font-size: x-large;
            background: var(--background-color);
            border-radius: 1rem;
            margin: 3rem auto;
            margin-top: -4em;
            padding: .5rem;
            pointer-events: auto;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }

        button {
            background: var(--accent-color);
            border-radius: 2rem;
            margin: .5rem;
            padding: .1em .5em;
            width: 3.5rem;
        }

        .icon-button svg {
            width: 2rem;
            height: 2rem;
            margin: auto;
        }

        &.visible {
            visibility: visible;
            opacity: 1;
            transform: translateY(0px);

        }
    }

    @media (min-width: 50rem) {
        .plant-card {
            flex: 0 1 calc(25% - 1em);
        }
    }

    @media (max-width: 28rem) {
        .schedule-card {
            padding: .5em;
        }
    }


}